
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
    min-width:100vw;
    background-color:#D2B48C;
}
header {
  position:relative;
  right:0;
  min-width:100vw;
  display:flex;
  justify-content:center;
  font-size:1.5rem;
  background-color: #582B39;
  color:#D2B48C;
  font-family: "Sofia", sans-serif;
}

#todo-container{
    display:grid;
    width:40vw;
    margin-left:30vw;
  
}
.modal-container {
    width: 100vw;
    height:100vh;
    background-color:rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    display:flex;
    align-items:center;
    justify-content:center;
}

.todo-form, .note-form{
  background-color:#DFE0DF;
  margin-top:2vh;  
  font-size:1.3rem;
  height:30vh;
  width:40vw;
}

.form-header, .note-form-header{
  display:flex;
  justify-content: flex-end;
}
.form-header:hover, .note-form-header:hover{
  font-weight:bolder;
}
.form-footer, .note-form-footer{
  display:flex;
  justify-content:center;
}
textarea{
  width:250px;
  height:10vh;
}
  input[type=checkbox]{
    transform:scale(2);
    margin-left:10px;
  }

  #description {
    height: 2rem; 
    background-color:#DFE0DF;
  }
  #description{
    margin-left:20px;
    width: 35vw;
   
    border:1px solid grey;  
  }

  .delete{
    font-size:1.5rem;
    margin-left:auto;
  }
  .delete:hover{
    font-weight: 900;
  }
  article {
    height:55vh;
    background-color:#DFE0DF;
    overflow-x:hidden;
    overflow-y:auto;
  }
  #list {
    display:flex;
    justify-content:flex-start;
    gap:2vw;
    align-items:center;
    border-bottom:1px solid rgb(184, 172, 172);
  }
  nav{
    float:left;
    display:grid;
    width:20vw;
    background-color: #582B39;
    color: #f1faf1;
    height:100vh;
  }
  a {
    text-decoration: none;
    color:#D2B48C;
  }
  .add {
    width: 50px;
    height:50px;
    border:none;
    position:fixed;
    bottom: 5vh;
    font-size: 30px;
    border-radius: 100%;
    color: #f1faf1;
    text-align: center;
    background:#582B39;
    color:var(--background);
    transition: width 0.3s, height 0.3s, transform 0.3s; 
    transition-timing-function: linear;  
}
.add:hover{
    width:60px;
    height:60px;
    transform:rotate(180deg);
}

.button {
  display:flex;
  justify-content: center;
}